<div id="edit">
<p><%= link_to "EditProfile", edit_user_path(current_user) %></p>
<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if f.object.errors.any? %>
    <div>
      <p>The form contains <%= pluralize(f.object.errors.count, "error") %>.</p>
      <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </div>
  <% end %>
    <div class="pro_img">
      <%= image_tag @user.face_image_url(:profile_thumb).to_s, :size => "180" %>
        <%= f.file_field :face_image %>
    <p class="btn_edit_submit"><%= f.submit %></p>
  </div>
  <div class="pro_text">
  <ul>
    <li><span class="nes"><%= f.label :name %></span><%= f.text_field :name %></li>
    <li><%= f.label :nickname %><%= f.text_field :nickname %></li>
    <li><%= f.label :irc_name %><%= f.text_field :irc_name %></li>
    <li><span class="nes"><%= f.label :section %></span><%= f.select :section, Section.all.enum_for(:each_with_index).map { |item, index| [item.name, index+1] } %></li>
    <li><span class="nes"><%= f.label :job_type %></span><%= f.select :job_type, User.job_type.options %></li>
    <li><span class="nes"><%= f.label :birthday %></span><%= f.date_select :birthday, :use_month_numbers => true, :date_separator => '/', :start_year => 1950, :end_yearv => Time.now.year-14, :default => Date.new(1980,01,01) %></li>
    <li><%= f.label :birthplace %><%= f.text_field :birthplace %></li>
    <li><%= f.label :married %><%= f.text_field :married %></li>
</ul>
<ul class="long">
    <li><p><%= f.label :background %></p><%= f.text_area :background %></li>
    <li><p><%= f.label :ppb_join %></p><%= f.text_field :ppb_join %></li>
    <li><p><%= f.label :ppb_carrier %></p><%= f.text_area :ppb_carrier %></li>
    <li><p><%= f.label :hometown %></p><%= f.text_area :hometown %></li>
    <li><p><%= f.label :twitter_id %></p><%= f.text_area :twitter_id %></li>
    <li><p><%= f.label :blog_url %></p><%= f.text_area :blog_url %></li>
    <li><p><%= f.label :hobby %></p><%= f.text_area :hobby %></li>
    <li><p><%= f.label :favorite_food %></p><%= f.text_area :favorite_food %></li>
    <li><p><%= f.label :favorite_book %></p><%= f.text_area :favorite_book %></li>
    <li><p><%= f.label :club %></p><%= f.text_area :club %></li>
    <li><p><%= f.label :strong_point %></p><%= f.text_area :strong_point %></li>
    <li><p><%= f.label :free_space %></p><%= f.text_area :free_space %></li>
  </ul>
<% end %>
</div>
</div>
