<div id="edit">
<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if f.object.errors.any? %>
    <div class="error">
      <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </div>
  <% end %>
    <div class="pro_img">
<% %>
      <% if @user.face_image_url(:profile_thumb).to_s.empty? %>
      <%= image_tag "dummy_img180.gif", :width => "180" %>
      <% else %>
      <%= image_tag @user.face_image_url(:profile_thumb).to_s, :width => "180" %>
      <% end %>
        <%= f.file_field :face_image %>
    <p class="btn_edit_submit"><%= f.submit %></p>
  </div>
  <div class="pro_text">
    <p class="aori">基本情報<span class="nes_notice">*青文字は必須項目です</span></p>
  <ul>
    <li><span class="nes"><%= f.label :name %></span><%= f.text_field :name %></li>
    <li><span class="nes"><%= f.label :nickname %></span><%= f.text_field :nickname %></li>
    <li><span class="nes"><%= f.label :irc_name %></span><%= f.text_field :irc_name %></li>
    <li><span class="nes"><%= f.label :section %></span><%= f.select :section, Section.all.map { |item| [item.name, item.id] }, :selected => @user.section.id %></li>
    <li><span class="nes"><%= f.label :job_type %></span><%= f.select :job_type, User.job_type.options %></li>
    <li><span class="nes"><%= f.label :birthday %></span><%= f.date_select :birthday, :use_month_numbers => true, :date_separator => '/', :start_year => 1950, :end_year => Time.now.year-14 %></li>
    <li><%= f.label :birthplace %><%= f.text_field :birthplace %></li>
    </ul>
    <p class="aori">あなたのことをもっと教えて</p>
<ul class="long">
    <li><%= f.label :married %><%= f.text_area :married %></li>
    <li><p><%= f.label :background %></p><%= f.text_area :background %></li>
    <li><p><%= f.label :ppb_join %></p><%= f.text_area :ppb_join %></li>
    <li><p><%= f.label :ppb_carrier %></p><%= f.text_area :ppb_carrier %></li>
    <li><p><%= f.label :hometown %></p><%= f.text_area :hometown %></li>
    <li><p><%= f.label :twitter_id %></p><%= f.text_area :twitter_id %></li>
    <li><p><%= f.label :blog_url %></p><%= f.text_area :blog_url %></li>
    <li><p><%= f.label :hobby %></p><%= f.text_area :hobby %></li>
    <li><p><%= f.label :favorite_food %></p><%= f.text_area :favorite_food %></li>
    <li><p><%= f.label :favorite_book %></p><%= f.text_area :favorite_book %></li>
    <li><p><%= f.label :club %></p><%= f.text_area :club %></li>
    <li><p><%= f.label :strong_point %></p><%= f.text_area :strong_point %></li>
    <li><p><%= f.label :free_space %></p><%= f.text_area :free_space %></li>
  </ul>
<% end %>
</div>
</div>
