<h2>みんな</h2>
<div class="everyone">
  <% @sections.each do |section| %>
      <div class="section_box">
        <p class="section_name"><%= section.name %></p>
           <ul>
            <% section.users.each do |user| %>
	      <% if user.face_image_url(:index_thumb).to_s.empty? %>
              <li><%= image_tag "dummy_img60.gif", :size => "60x60" %><%= link_to user.name, user %></li>
	      <% else %>
              <li><%= image_tag user.face_image_url(:index_thumb).to_s, :size => "60x60" %><%= link_to user.name, user %></li>
	      <% end %>
          <% end %>
         </ul>
      </div>
  <% end %>
</div>
