<%= form_for(@user) do |f| %>
  <% if f.object.errors.any? %>
    <div>
      <p>The form contains <%= pluralize(f.object.errors.count, "error") %>.</p> 
      <% f.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </div>
  <% end %>
<table>
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  
  <tr>
    <th><%= f.label :nickname %></th>
    <td><%= f.text_field :nickname %></td>
  </tr>

  <tr>
    <th><%= f.label :irc_name %></th>
    <td><%= f.text_field :irc_name %></td>
  </tr>

  <%#= f.label :face_image %>
  <%#= f.file_field :face_image %>

  <tr>
    <th><%= f.label :section %></th>
    <td><%= f.select :section, Section.all.enum_for(:each_with_index).map { |item, index| [item.name, index+1] } %></td>
  </tr>

  <tr>
    <th><%= f.label :job_type %></th>
    <td><%= f.select :job_type, User.job_type.options %></td>
  </tr>

  <tr>
    <th><%= f.label :birthday %></th>
    <td><%= f.text_field :birthday %></td>
  </tr>
  
  <tr>
    <th><%= f.label :background %></th>
    <td><%= f.text_area :background %></td>
  </tr>

  <tr>
    <th><%= f.label :hobby %></th>
    <td><%= f.text_area :hobby %></td>
  </tr>

  <tr>
    <th><%= f.label :free_space %></th>
    <td><%= f.text_area :free_space %></td>
  </tr>
</table>
<p><%= f.submit %></p>
<% end %>
