<p>This is user's profile page.</p>

<%= image_tag @user.face_image_url(:thumb).to_s %>


<p><%= @user.name %></p>

<p><%= @user.nickname %></p>

<p><%= @user.irc_name %></p>

<p><%= @user.section.name %></p>

<p><%= @user.job_type %></p>

<p><%= @user.birthday %></p>

<p><%= @user.birthplace %></p>

<p><%= @user.background %></p>

<p><%= @user.ppb_carrier %></p>

<p><%= @user.hometown %></p>

<p><%= @user.hobby %></p>

<p><%= @user.favorite_food %></p>

<p><%= @user.favorite_book %></p>

<p><%= @user.club %></p>

<p><%= @user.strong_point %></p>

<p><%= @user.free_space %></p>


