<div id="profile">
  <% if request.path_info == user_path(current_user) %>
    <p><%= link_to "プロフィールを編集", edit_user_path(current_user) %></p>
  <% end %>
  <div class="pro_img">
    <% if @user.face_image_url(:profile_thumb).to_s.empty? %>
      <%= image_tag 'dummy_img180.gif', :width => "180" %>
    <% else %>
      <%= image_tag @user.face_image_url(:profile_thumb).to_s, :width => "180" %>
    <% end %>
  </div>

<div class="pro_text">
<li><span><%= t("activerecord.attributes.user.name") %></span><%= @user.name %></li>
<li><span><%= t("activerecord.attributes.user.nickname") %></span><%= @user.nickname %></li>
<li><span><%= t("activerecord.attributes.user.irc_name") %></span><%= @user.irc_name %></li>
<li><span><%= t("activerecord.attributes.user.github_name") %></span><%= @user.github_name %></li>
<li><span><%= t("activerecord.attributes.user.section") %></span><%= @user.section.name %></li>
<li><span><%= t("activerecord.attributes.user.job_type") %></span><%= @user.job_type_text %></li>
<li><span><%= t("activerecord.attributes.user.birthday") %></span><%= @user.birthday %></li>
<% if @user.birthplace.present? %>
<li><span><%= t("activerecord.attributes.user.birthplace") %></span><%= @user.birthplace %></li>
<% end %>
<% if @user.married.present? %>
<li><span><%= t("activerecord.attributes.user.married") %></span><%= @user.married %></li>
<% end %>
<% if @user.background.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.background") %></p><%= @user.background %></li>
<% end %>
<% if @user.ppb_join.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.ppb_join") %></p><%= @user.ppb_join %></li>
<% end %>
<% if @user.ppb_carrier.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.ppb_carrier") %></p><%= @user.ppb_carrier %></li>
<% end %>
<% if @user.hometown.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.hometown") %></p><%= @user.hometown %></li>
<% end %>
<% if @user.twitter_id.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.twitter_id") %></p><%= @user.twitter_id %></li>
<% end %>
<% if @user.blog_url.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.blog_url") %></p><%= @user.blog_url %></li>
<% end %>
<% if @user.hobby.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.hobby") %></p><%= @user.hobby %></li>
<% end %>
<% if @user.favorite_food.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.favorite_food") %></p><%= @user.favorite_food %></li>
<% end %>
<% if @user.favorite_book.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.favorite_book") %></p><%= @user.favorite_book %></li>
<% end %>
<% if @user.club.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.club") %></p><%= @user.club %></li>
<% end %>
<% if @user.strong_point.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.strong_point") %></p><%= @user.strong_point %></li>
<% end %>
<% if @user.free_space.present? %>
<li><p class="q"><%= t("activerecord.attributes.user.free_space") %></p><%= @user.free_space %></li>
<% end %>
</div>
</div>
