<div id="profile">
  <p><%= link_to "EditProfile", edit_user_path(current_user) %></p>
<p>This is user's profile page.</p>
  <div class="pro_img">
<%= image_tag @user.face_image_url(:thumb).to_s, :size => "180" %>
</div>
<div class="pro_text">
<li class="name"><%= @user.name %></li>
<li><%= @user.nickname %></li>
<li><%= @user.irc_name %></li>
<li><%= @user.github_name %></li>
<li><%= @user.section.name %></li>
<li><%= @user.job_type %></li>
<li><%= @user.birthday %></li>
<li><%= @user.birthplace %></li>
<li><%= @user.background %></li>
<li><%= @user.ppb_carrier %></li>
<li><%= @user.hometown %></li>
<li><%= @user.hobby %></li>
<li><%= @user.favorite_food %></li>
<li><%= @user.favorite_book %></li>
<li><%= @user.club %></li>
<li><%= @user.strong_point %></li>
<li><%= @user.free_space %></li>
</div>
