<!DOCTYPE html>
<html>
<head>
  <title>about p</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless request.path_info == signin_path %>
  <header>
    <div class="wrap">
    <%= link_to(content_tag(:div, "", :class => 'logo'), users_path) if request.path_info != signin_path %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <div id="menu">
      <ul>
    <% if signed_in? %>
      <% if current_user.face_image_url(:header_thumb).to_s.empty? %>
      <li><%= link_to(image_tag("dummy_img40.gif", size: "40x40"), user_path(current_user)) %><%= link_to(current_user.name, user_path(current_user)) %></li>
      <% else %>
      <li><%= link_to(image_tag(current_user.face_image_url(:header_thumb).to_s, size: "40x40"), user_path(current_user)) %><%= link_to(current_user.name, user_path(current_user)) %></li>
      <% end %>
      <li><%= link_to "みんな", users_path %></li>
      <li><%= link_to "自分のプロフィール", user_path(current_user) %></li>
      <li><%= link_to "サインアウト", signout_path, method: "delete" %></li>
    <% end %>
  </ul>
  </div>
  </div>
  </header>
  <% end %>
<div id="content">
<%= yield %>
</div>
<footer>
  <p>Copyright ©2013  GMO Pepabo, Inc. All Rights Reserved.</p>
  </footer>
</body>
</html>
