<!DOCTYPE html>
<html>
<head>
  <title>AboutP</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if signed_in? %>
      <%= link_to "Sign out", signout_path, method: "delete" %>
      <%= link_to "Everyone", users_path %>
      <%= link_to "MyProfile", user_path(current_user) %>
      <%= link_to "EditProfile", edit_user_path(current_user) %>
    <% end %>
  </header>
<div id="content">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
  <% end %>
<%= yield %>
</div>
</body>
</html>
