<!DOCTYPE html>
<html>
<head>
  <title>about p</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrap">
    <%= link_to(content_tag(:div, "", :class => 'logo'), users_path) if request.path_info != signin_path %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <div id="menu">
      <ul>
    <% if signed_in? %>
      <li><%= image_tag current_user.face_image_url(:header_thumb).to_s %><%= current_user.name %></li>
      <li><%= link_to "Everyone", users_path %></li>
      <li><%= link_to "MyProfile", user_path(current_user) %></li>
      <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
    <% end %>
  </ul>
  </div>
  </div>
  </header>
<div id="content">
<%= yield %>
</div>
<footer>
  <p>Copyright ©2006-2013  paperboy&co. All Rights Reserved.</p>
  </footer>
</body>
</html>
